<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312943351115-ksbr2tou27ki3kijcfhsdsmps2i27176.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312943351115-ksbr2tou27ki3kijcfhsdsmps2i27176</string>
	<key>API_KEY</key>
	<string>AIzaSyCE1HKfqCCOLzJWtYbj22PxlMdoYaM1Kqo</string>
	<key>GCM_SENDER_ID</key>
	<string>312943351115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stacycode.inventorytracker</string>
	<key>PROJECT_ID</key>
	<string>inventorytracker-fd237</string>
	<key>STORAGE_BUCKET</key>
	<string>inventorytracker-fd237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:312943351115:ios:62db2e07272e70162b04ce</string>
</dict>
</plist>
